<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Home"></Label>
</ActionBar>

<StackLayout class="page">
    <TextField hint="Enter text" autocorrect="false" (textChange)="search($event)" (returnPress)="onReturn($event)" class="input input-border"></TextField>
    <ActivityIndicator #activityIndicator [busy]="isLoading" [visibility]="isLoading?'visible':'collapse'" width="100" height="100" class="activity-indicator"></ActivityIndicator>
    <ListView [items]="results" (itemTap)="onItemTap($event)" class="list-group">
        <ng-template let-business="item" >
            <StackLayout orientation="horizontal" class="list-group-item">
                <Label text="Business: " textWrap="true"></Label>
                <Label [text]="business.name"></Label>
            </StackLayout>
        </ng-template>
    </ListView>
</StackLayout>